id
.DS_Store
Gemfile.lock
azure.box
Vagrantfile
!example_box/Vagrantfile
!example_box/README.md
babu
example_box/
*.rdp
pkg/*
gem/
manifests/
modules/
.vagrant/
.idea/
*.pem
.ruby-version
*.ps1
.env
.bundle

